<template>
<div id="images">
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
        <b-nav-item href="/KisiEkle">Kişi Ekle</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item href="/iletisim">İletişim</b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>

          <template>
                <b-nav-item href="/cikis" class="active">ÇIKIŞ</b-nav-item>
          </template>
          
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>

</template>

<script>
import Vue from "vue"
import firebase from "firebase/app";

export default {
    name: 'Cikis',
mounted(){
    
    alert("Çıkış yaptınız");

    firebase.auth().signOut()
 .catch(function (err) {
 });
    this.$router.push({path:"/login"});

    },
methods : {
    
    }
}


</script>

<style scoped>
div#images{
  height: 1000px;
  background-image: url('~@/image/image3.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-color: black;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.container{
  padding: 20px 30px; 
  margin: 5px auto;
}
.h2font{
  color: #42b983;
  font-family: Vivaldi;
  font-size: 42px;
  /* text-decoration: underline; */
}
label{
  color: #42b983;
  font-weight: bold;
}
a {
  color: #42b983;
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed #42b983;
}
.navbar{
  background-color: white;
}

.navbar{
  border-bottom: 3px dashed black;
}
</style>