<template>
<div>
  <div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
        <!-- <b-nav-item href="/KisiEkle">Kişi Ekle</b-nav-item> -->
        <b-nav-item class="active" href="/güncelle">Güncelle</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item href="/iletisim">İletişim</b-nav-item>
        <!-- <b-nav-item href="#" disabled>Disabled</b-nav-item> -->
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>

        <!-- <b-nav-item-dropdown right> -->
          <!-- Using 'button-content' slot -->
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <strong>{{user}}</strong>
          </template>
            <!-- <b-dropdown-item href="#">{{selected}}</b-dropdown-item>  -->
            <b-dropdown-item href="/bilgiler">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre">Şifre Değiştir</b-dropdown-item> <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>

        <!-- </b-nav-item-dropdown> -->
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <!-- benim buradan itibaren  -->
      <div class="container">
        <br>
    <b><h2 class="h2font">Kişiyi Güncelle..</h2></b>
    <p></p>
    <form class="needs-validation" novalidate>
     <div class="form-group">
      <label>TC Kimlik No:</label>
      <input type="text" v-model="i.tc" class="form-control" placeholder="tc kimlik no giriniz..">
    </div>

    <div class="form-group">
      <label>Ad:</label>
      <input @blur="$v.i.ad.$touch()" type="text" v-model="i.ad" v-on:keypress="isLetter($event)" class="form-control" :class="{'is-invalid' : $v.i.ad.$error}" placeholder="adınızı giriniz..">
      <small v-if="!$v.i.ad.required" class="form-text text-muted">*Bu alan zorunludur..</small>
     </div>

     <div class="form-group">
      <label>Soyad:</label>
      <input @blur="$v.i.soyad.$touch()" type="text" v-model="i.soyad" v-on:keypress="isLetter($event)" class="form-control" :class="{'is-invalid' : $v.i.soyad.$error}" placeholder="soyadınızı giriniz..">
      <small v-if="!$v.i.soyad.required" class="form-text text-muted">*Bu alan zorunludur..</small>
   </div>

    <div class="form-group">
      <label>Ev Telefonu:</label>
      <input @blur="$v.i.ev.$touch()" type="text" v-model="i.ev" class="form-control" :class="{'is-invalid' : $v.i.ev.$error}" placeholder="ev telefonu numarasını giriniz..">
      <small v-if="!$v.i.ev.minLength" class="form-text text-primary">*Telefon numaranızın başında sıfır olmalıdır..</small>
      <small v-if="!$v.i.ev.maxLength" class="form-text text-danger">**Dogru bir telefon numarası girdiğinizden emin olunuz..</small>

     </div>

     <div class="form-group">
      <label>İş Telefonu:</label>
      <input @blur="$v.i.is.$touch()" type="text" v-model="i.is" class="form-control" :class="{'is-invalid' : $v.i.is.$error}" placeholder="iş telefonu numaranızı giriniz..">
      <small v-if="!$v.i.is.minLength" class="form-text text-primary">*Telefon numaranızın başında sıfır olmalıdır..</small>
      <small v-if="!$v.i.is.maxLength" class="form-text text-danger">**Dogru bir telefon numarası girdiğinizden emin olunuz..</small>
    </div>

    <div class="form-group">
      <label>Cep Telefonu:</label>
      <input @blur="$v.i.cep.$touch()" type="text" v-model="i.cep" class="form-control" :class="{'is-invalid' : $v.i.cep.$error}" placeholder="cep telefonunuzu giriniz..">
      <small v-if="!$v.i.cep.minLength" class="form-text text-primary">*Telefon numaranızın başında sıfır olmalıdır..</small>
      <small v-if="!$v.i.cep.maxLength" class="form-text text-danger">**Dogru bir telefon numarası girdiğinizden emin olunuz..</small>
     </div>

    <router-link tag="button" to="/anasayfa" @click.native="guncelle"  class="btn btn-primary" :disabled="$v.$invalid">GÜNCELLE</router-link>

  </form>
  </div>
</div>


</template>

<script>

import {required, numeric, minLength, maxLength} from "vuelidate/lib/validators"
import firebase from "firebase/app";


export default {
  name: 'Guncelle',
  data() {
    return {
      user:firebase.auth().currentUser.email,
      i :{
        tc : '',
        ad : '',
        soyad : '',
        ev : '',
        is : '',
        cep : ''
      }
    }
  },
    validations: {
    i :{
      ad:{
        required
      },
      soyad:{
        required
      },
      ev:{
        numeric,
        minLength : minLength(11),
        maxLength : maxLength(11)
      },
      is:{
        numeric,
        minLength : minLength(7),
        maxLength : maxLength(11)
      },
      cep:{
        required,
        numeric,
        minLength : minLength(11),
        maxLength : maxLength(11)
      }

    }
  },
  computed:{
    list(){
      return this.$store.getters.getAddedList;
    },

  },
  mounted(){
    if('tc' in this.$route.params){
      let selected = this.$route.params.tc;
      if(selected){
        let listt = this.$store.getters.getAddedList;   //tüm elemanlar..
        let slist = listt.filter(x => x.tc === selected)  //seçili olan..
        //güncelleme ekranına bilgilerin getirilmesi
        this.i.tc = slist[0].tc; 
        this.i.ad = slist[0].ad;
        this.i.soyad = slist[0].soyad;
        this.i.ev = slist[0].ev;
        this.i.is = slist[0].is;
        this.i.cep = slist[0].cep;
      }
    }
  },

  methods: {
    guncelle(){
      this.$store.commit('update2',{
        tc: this.i.tc,
        ad: this.i.ad,
        soyad: this.i.soyad,
        ev: this.i.ev,
        is: this.i.is,
        cep: this.i.cep
      })
      this.$toast("Kişi Güncelleme Başarılı..");
    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode);
      if (/^[A-Za-z,ç,Ç,ğ,Ğ,ı,İ,ö,Ö,ş,Ş,ü,Ü,\s ]+$/.test(char)) return true;
      else e.preventDefault();
    },

  },
  watch : {
    '$store.state.updateData' : function (value) {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.h2font{
  color: blue;
  font-family: Vivaldi;
  font-size: 42px;
  /* text-decoration: underline; */
}
label{
  color: blue;
  font-weight: bold;
}
a {
  color: #42b983;
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed blue;
}
.navbar{
  background-color: white;
}

.navbar{
  border-bottom: 3px dashed black;
}
</style>
