<template>
  <div id="images">
<div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item href="/iletisim">İletişim</b-nav-item>
        <!-- <b-nav-item href="#">{{this.user}}</b-nav-item> -->
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>

          <!-- <template>
            
            <b-nav-item href="/cikis">ÇIKIŞ</b-nav-item>
          </template> -->
          <!-- {{this.user}} -->
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <strong>{{user}}</strong>
            <!-- <h1>{{user}}</h1> -->
          </template>
            <b-dropdown-item href="/bilgiler">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre" class="active">Şifre Değiştir</b-dropdown-item>
            <!-- <b-dropdown-item href="#">{{perPage}}</b-dropdown-item>  -->
            <!-- <b-dropdown-item href="#">{{this.user}}</b-dropdown-item> 
            <b-dropdown-item href="#">{{this.filtered.length}}</b-dropdown-item>  -->
            <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>


    <br><br><br>
    <div class="home">
      <!-- <h1 class="h1font">Telefon Rehberinize </h1>
      <h1 class="h1font"> Hoşgeldiniz</h1> -->
      <br>
    </div>

    <div class="container"><br>
    <b><h2 class="h2font">.. Şifre Değişikliği ..</h2></b>
    <p></p>
    <form >
      <!-- <div class="form-group">
        <label>..Şifreniz..</label>
        <input @blur="$v.s.password.$touch()" type="password" v-model="s.password" class="form-control" :class="{'is-invalid' : $v.s.password.$error}" placeholder="mevcut şifrenizi giriniz.." >
      </div> -->
     <br> <div class="form-group">
        <!-- <label>..Yeni Şifrenizi Giriniz..</label><br><br> -->
        <h5>..Yeni Şifrenizi Giriniz..</h5><br>
        <input @blur="$v.s.repassword.$touch()" type="password" v-model="s.repassword" class="form-control" :class="{'is-invalid' : $v.s.repassword.$error}" placeholder="yeni şifreniz giriniz.." ><br>
      <small v-if="!$v.s.repassword.minLength" class="form-text text-dark"><i>.. şifreniz en az 6 karakterli olmalıdır..</i></small>
      </div>
      <router-link tag="button" to="" @click.native="passwordChange" class="btn btn-success" :disabled="$v.$invalid">ŞİFREMİ DEĞİŞTİR</router-link>
    </form>
  </div>
  
</div>
</template>

<script>
// import Vue from "vue";
import {required,maxLength,minLength} from "vuelidate/lib/validators"
import firebase from "firebase/app";

export default {
  name: 'sifre',
  data() {
    return {
      user:firebase.auth().currentUser.email,
      s :{
        password : '',
        repassword : ''
      }
    }
  },
  methods : {
    
    passwordChange(){
      var user = firebase.auth().currentUser;
      var newPassword = this.s.repassword
      user.updatePassword(newPassword).then(function() {
        alert("şifreniz değiştirilmiştir..")
        
      }).catch(function(error) {
        alert("Beklenmedik bir durum oluştu, Tekrar giriş yapmanız gerekmektedir..")
      });
    },
  },
  validations: {
      s :{
        
        repassword:{
          required,
          minLength : minLength(6),
      }
    }
  }
}
</script>

<style scoped>

.container{
  /* padding-left: 400px;
  padding-right: 400px; */
  text-align: center;
  height: 350px;
  width: 450px;
  background-color: white;
  border: 9px dotted black;
}
div#images{
  height: 1000px;
  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  /* background-position: center; */
  /* background-repeat: repeat-y;
  background-repeat: repeat-x; */
  background-color: black;
}
.home{
  margin:0 auto;
  text-align: center;
}

.h1font{
  color: black;
  font-family: Vivaldi;
  font-size: 58px;
  /* text-decoration: underline; */
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed blue;
}
.navbar{
  background-color: white;
}
.navbar{
  border-bottom: 3px dashed black;
}
.navbaslık{
  color: #666668;
  /* font-family: Edwardian Script ITC; */
  /* font-size: xx-large; */
  /* font-size: 32px; */
}
 

</style>